<% branch_path_name = "#{params[:action]}_posts_path" %>

<div id="branch-main-content" class="container">
  <div class="row">
    <h1 class="page-title"><%= page_title %></h1>
    <%# <%= render 'posts/branch/create_new_post', branch: branch %>
    <div class="col-sm-12">
      <div class="col-sm-8 col-sm-offset-2">
        <% if user_signed_in? %>
          <div class="new-post-button-parent">
            <span>Cannot find anyone? Try to: </span>
            <%= link_to "Create a new post", 
                        new_post_path(branch: branch), 
                        :class => "new-post-button" %>
          </div>
        <% else %>
          <div class="text-center login-branch">
            To create a new post you have to 
            <%= link_to 'Login', 
                        login_path, 
                        class: 'login-button login-button-branch' %>
          </div>
        <% end %>
      </div><!-- col-sm-8 -->	
    </div><!-- col-sm-12 -->
  </div><!-- row -->

  <div class="row">
    <%= render  'posts/branch/search_form', 
                branch: branch,
                search_placeholder: search_placeholder %>
  </div><!-- row -->

  <div class="row">
    <%# <%= render 'posts/branch/categories' %>
    <div class="col-sm-12">
      <ul class="categories-list">
        <% if params[:category].blank? %>
          <li class="category-item">
            <%= link_to "All", 
                        send(branch_path_name), 
                        :class => "selected-item"  %>
          </li>
        <% else %>
          <li class="category-item">
            <%= link_to "All", send(branch_path_name) %>
          </li>
        <% end %>
        <% @categories.each do |category| %>
          <li class="category-item">
            <%= link_to category.name, 
                        send(branch_path_name, category: category.name), 
                        :class => ("selected-item" if params[:category] == category.name) %>
          </li>
        <% end %>
      </ul>
    </div><!-- col-sm-12 -->
  </div>

  <div class="row">
    <div class="col-sm-12" id="feed">
      <%= render @posts %>
      <% if @posts.empty? %>
        <%= render 'posts/branch/no_posts' %>
      <% else %>
        <%= render 'shared/empty_partial' %>
      <% end %>
    </div>
  </div><!-- row -->	

  <div class="infinite-scroll">
    <%= will_paginate @posts %>
  </div>
</div><!-- container -->